/* body */
*{
  font-family: Gabriela;
  font-size: 20px;
}
/* header */
header{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(../images/img4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
  .book-logo{
    padding-left: 62px;
  }
}
nav ul li a:hover {
  border-bottom: 2px solid orange;
  background-color: gold;
}
.poly{
  position: absolute;
  left: 0px;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30%;
  
}
 /* main */
  hr{
    margin-left:400px;
    width:800px;
    color:orange;
  }
   /* footer */
