header{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(../images/img4.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .file{
      background-color: orange;
      border-radius: 50px;
  }
  @media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
    .book-logo{
      padding-left: 62px;
    }
  }
  *{
    font-family: Gabriela;
    font-size: 20px;
}
  .myBtn{
      border-radius: 30px 2px 30px 2px;
  }.poly{
    position: absolute;
    left: 0px;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30%;
    
}
nav ul li a:hover {
  border-bottom: 2px solid orange;
  background-color: gold;
}
@media only screen and (min-width: 600px) {
  .myButn{
    margin-left: 550px;
  }
}
@media only screen and (max-width: 600px) {
  /* .myContainer{
    padding-left:300px !important;
  }
  .pics{
    margin-left:300px !important;
  } */
}